<div class="container" (window:resize)="resize()">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 avatarImage" id="avatarImage">
            <div class="row" style="margin: 5px;">
                <img [src]="avatarURL" style="height: 250px; width: 250px;" alt="Seller avatar" [ngStyle]="pictureStyle()">
            </div>
        </div>
        <div class="col-6 info" style="margin-top: 5px;" id="info">
            <div class="row info1">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-6">
                                <label>Username:</label>
                            </div>
                            <div class="col-6">
                                <p>{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Name:</label>
                            </div>
                            <div class="col-6">
                                <p>{{ user.name }} {{ user.surname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Email:</label>
                            </div>
                            <div class="col-6">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Address:</label>
                            </div>
                            <div class="col-6">
                                <p>{{ user.address }}</p>
                            </div>
                        </div>
            </div>
            </div>
            <div class="row info2" style="margin-top: 20px;" *ngIf="navbarService.loggedIn() && !sameUser()" (click)="Chat()">
                <button class="btn btn-primary"> Chat with {{user.username}} </button>
            </div>
        </div>
    </div><br>
    <div class="alert alert-dismissible alert-primary">
        <strong>Top {{ products.length }} most purchased products of {{ user.username }} :</strong>
    </div><br>
    <div class="row">
        <div class="card myCard" *ngFor="let p of products; let i = index">
        <h3 class="card-header">{{ p.product.name }}</h3>
        <div class="card-body">
            <div class='row'>
                <h5 class="card-title">Available: {{ p.product.available }}</h5>
            </div>    
        </div>
        <img style="height: 200px; width: 100%; display: block;" [src]="imageURLs[i]" alt="Card image">
        <div class="card-body mb0 ">
            <div class='row'>
                <div class='col-6'>
                    <h5 class="card-title">Type: {{ p.product.condition }}</h5>
                </div>
                <div class='col-6'>
                    <h5 class="card-title">Price: {{ p.product.price }} KM</h5>
                </div>
            </div>    
            <div class="row">
                <div class="col-6">
                    <button (click)="setProductID(i)" style="margin-right: 8px;" class="btn btn-primary btn-sm">More about product</button>
                </div>
                <div class="col-6">
                    <h5 class="card-title">Sold: {{ p.product.purchased }}</h5>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ p.ago }}
        </div>
        </div>
    </div>
    
</div>

