<div class="row">
<div class="col-3 filter">
    filter za elemente koji se prikazuju.
</div>
<div class="col-9" id="column" (window:resize)="resize()">
<div class="row">
    <div class="card myCard" *ngFor="let p of products; let i = index">
    <h3 class="card-header">{{ p.product.name }}</h3>
    <div class="card-body">
        <div class='row'>
            <div class='col-6'>
                <h5 class="card-title">Seller: {{ p.product.user.username }}</h5>
            </div>
            <div class='col-6'>
                <h5 class="card-title">Available: {{ p.product.available }}</h5>
            </div>
        </div>    
    </div>
    <img style="height: 200px; width: 100%; display: block;" [src]="imageURLs[i]" alt="Card image">
    <div class="card-body mb0 ">
        <div class='row'>
            <div class='col-6'>
                <h5 class="card-title">Type: {{ p.product.condition }}</h5>
            </div>
            <div class='col-6'>
                <h5 class="card-title">Price: {{ p.product.price }} KM</h5>
            </div>
        </div>    
        <a href="#" class="card-link">More about product</a>
        <a href="#" class="card-link">More about seller</a>
    </div>
    <div class="card-footer text-muted">
        {{ p.ago }}
    </div>
    </div>
</div>
</div>
</div>