
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>                            
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cart of carts; let i = index;">
                            <td><img [src]="this.pictures[i]" style="height: 50px; width: 50px; border-radius: 10%;"/> </td>
                            <td> {{ cart.product.name }} </td>                            
                            <td><input (change)="changeQuantity(i)" class="form-control" [(ngModel)]="quantities[i]" type="text" value="quantities[i]" name="carts[i].quantity" /></td>
                            <td class="text-right"> {{ cart.product.price }} KM</td>
                            <td class="text-right"><button (click)="setTempIndex(i, template)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">{{ this.subtotal }} KM</td>
                        </tr>
                        <tr>                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">0 KM</td>
                        </tr>
                        <tr>                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{ this.subtotal }} KM</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button (click)="goShopping()" class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button (click)="checkout()" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete item?</h5>
          <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" (click)='modalRef.hide()'>
            x
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)='deleteCart(tempIndex)'>Yes, I'm sure</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modalRef.hide()'>Close</button>
        </div>
    </div>        
</ng-template>
