<div class="row">
    <div class="col-8 mt-5 mx-auto">
        <div id="profilePhotoPreview">
            <h4 class="text-center">Profile photo preview</h4>
            <div class="container" id="profilePhotoContainer">
                <div *ngIf='imgUrl'>
                    <span class="helper"></span><img id="profilePhoto" [src]="imgUrl" alt="Profile photo">
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 mt-5 mx-auto">
        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" [(ngModel)]="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label>Repeat password</label>
                <input type="password" [(ngModel)]="repeatedPassword" name="repeatedPassword" class="form-control">
            </div>
            <div class="form-group">
                <label>Profile photo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="profile" id="inputGroupFile01" (change)="fileSelected($event)">
                      <label class="custom-file-label" for="inputGroupFile01"></label>
                    </div>
                  </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" (click)="onSubmit()">
        </form>
    </div>
</div>

